{block #head}
{include #parent}
<script type="text/javascript" src="{$basePath}/js/jquery.brosland.table.js"></script>
{/block}

{block content}
<h2>Kategórie</h2>
<div><a n:href="add">Vytvoriť novú kategóriu</a></div>
<br>
{control categoryTable}
{/block}