{block content}
<h2>{if $control->action === 'add'}Vytvorenie{else}Editácia{/if} typu certifikátu</h2>

{snippet certificateTypeForm}
	{var $form = $control['certificateTypeForm']}
	{form $form}
		{group 'Certifikát'}
		<fieldset id="param-types">
			<legend>Parametre certifikátu</legend>
			<div n:foreach="$form['paramTypes']->containers as $id => $paramType" class="param-type ui-helper-clearfix">
				<span class="column dragdrop-drag-handle">
					<img src="{$basePath}/css/certificates/admin/icons.png" alt="#">
				</span>
				<div class="column fields">
					{pair paramTypes-$id-label}
					{pair paramTypes-$id-paramTypeId}
				</div>
				<div class="column fields">
					{pair paramTypes-$id-name}
					<div class="required-field">{pair paramTypes-$id-required}</div>
				</div>
				<div class="column remove-button">
					{input paramTypes-$id-remove}
				</div>
			</div>
		</fieldset>
		{form buttons}
	{/form}
{/snippet}
{/block}