{block #head}
{include #parent}
<script type="text/javascript" src="{$basePath}/js/jquery.brosland.table.js"></script>
{/block}

{block content}
<h2>Typy certifikátov</h2>
<div><a n:href="add">Vytvoriť nový typ certifikátu</a></div>
<br>
{control certificateTypeTable}
{/block}