{extends APP_DIR.'/templates/@layout.latte'}

{block #head}
{/block}

{block #menu}
<ul>
	<li {ifCurrent Homepage:}class="current"{/ifCurrent}><a n:href="Homepage:">Úvod</a></li>
</ul>
{/block}

{block #sidebar}
{/block}