{block #content}
<h2>Administrácia</h2>
<ul>
	<li><a n:href=":Forms:Admin:Dashboard:default">Formuláre</a></li>
	<!--<li><a n:href=":Tracking:Admin:Track:list">Trekovanie</a></li>-->
	<li><a n:href=":Admin:User:list">Používateľia</a></li>
</ul>
{/block}