{block #head}
{include #parent}
<script type="text/javascript" src="{$basePath}/js/jquery.brosland.table.js"></script>
{/block}

{block content}
<h2>Certifikáty</h2>
<div><a n:href="selectCertificateType">Vytvoriť nový certifikát</a></div>
<div><a n:href="import">Importovať certifikáty</a></div>
<br>
{control certificateTable}
{/block}