<script type="text/javascript" src="http://bp.yahooapis.com/2.4.21/browserplus-min.js"></script>
<script type="text/javascript" src="{$basePath}/plugins/plupload/js/plupload.full.js"></script>
<script type="text/javascript" src="{$basePath}/plugins/plupload/js/jquery.brosland.plupolad.js"></script>